<section class="block container">
    <header class="block__header">
      <h2 class="block__heading">Heding</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae
        similique architecto consequuntur necessitatibus, eaque a reiciendis
        esse omnis soluta aliquam.
      </p>
    </header>
  </section>
  <section class="block block--dark">
    <div class="container">
      <h2 class="block__heading">Heding</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae
        similique architecto consequuntur necessitatibus, eaque a reiciendis
        esse omnis soluta aliquam.
      </p>
    </div>
  </section>